<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truelink Capital</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="/logo/logo.png">
</head>

<body>
    
    <nav>
        <div class="logo">
            <img src="/logo/logo.png" alt="">
        </div>
        <div class="nav-details">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Our Team</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">ESG</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="menu-toggle">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
        </div>
    
        <nav class="menu">
            <ul>
                <li><a href="">Home</a></li><hr>
                <li><a href="">About</a></li><hr>
                <li><a href="">Our Team</a></li><hr>
                <li><a href="">Portfolio</a></li><hr>
                <li><a href="">ESG</a></li><hr>
                <li><a href="">News</a></li><hr>
                <li><a href="">Contact</a></li><hr>
            </ul>
        </nav>
    </nav>
    <div class="container">
        <div class="page1">
            <video autoplay loop muted loop="start over again"
                src="https://truelinkcap.com/wp-content/uploads/2022/04/mixkit-bluish-data-center-hallway-23282-large.mp4"></video>
            <h1 class="" data-aos="fade-left" data-aos-offset="100">Truelink Capital is an investment firm committed to
                building partnerships to drive
                long-term value</h1>
        </div>
        <div class="page2">
            <section>
                <div class="left" data-aos="fade-right">
                    <img src="/images/himalayas-mountains.jpg" alt="">
                </div>
                <div class="right">
                    <div class="about">
                        <span>About</span>
                    </div>
                    <h1>We partner with management teams to accelerate growth</h1>
                    <p data-aos="fade-left" data-aos-offset="100">Truelink Capital is a Los Angeles based private equity
                        firm. We pair deep industry experience in
                        Tech-Enabled Services and Industrials with an operational approach to help companies adapt, meet
                        the
                        business challenges of today, and thrive.</p>
                    <p data-aos="fade-left" data-aos-offset="100">Truelink partners with management, corporate sellers,
                        and founders to accelerate growth through
                        the
                        execution of operational improvements, organic initiatives, and strategic add-on acquisitions.
                    </p>
                </div>
            </section>
        </div>
        <section>
            <div class="right">
                <div class="Investment-Criteria">
                    <h1 data-aos="fade-up" data-aos-delay="100" data-aos-offset="200">Investment Criteria</h1>
                    <h3 data-aos="fade-right" data-aos-offset="100">Customized capital solutions for sellers</h3>
                    <h3 data-aos="fade-right" data-aos-offset="100">Strong underlying business characteristics</h3>
                    <h3 data-aos="fade-right" data-aos-offset="100">Buy and build opportunities</h3>
                    <h3 data-aos="fade-right" data-aos-offset="100">Management teams seeking accelerated growth</h3>
                </div>
            </div>
            <div class="left" data-aos="fade-left">
                <img src="/images/city.jpg" alt="">
            </div>
        </section>
    </div>
    <div class="page3">
        <h1>Our Sector Focus</h1>
        <section>
            <div class="tech-service">
                <h2>Tech Enabled Services</h2>
                <section>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-headset"></i>
                        <p>Business Process Outsourcing</p>
                    </div>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-hands-helping"></i>
                        <p>Business Services</p>
                    </div>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-book-reader"></i>
                        <p>Education Technology</p>
                    </div>
                </section>
                <section>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-fingerprint"></i>
                        <p>Financial Technology</p>
                    </div>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-laptop"></i>
                        <p>IT Services</p>
                    </div>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-hands-helping"></i>
                        <p>Software</p>
                    </div>
                </section>
            </div>
            <div class="tech-service">
                <h2>Industrials</h2>
                <section>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-building"></i>
                        <p>Building Products</p>
                    </div>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-thermometer-quarter"></i>
                        <p>Chemicals</p>
                    </div>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-bezier-curve"></i>
                        <p>Industrial Technology</p>
                    </div>
                </section>
                <section>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-warehouse"></i>
                        <p>Manufacturing & Distribution</p>
                    </div>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-box-open"></i>
                        <p>Packaging</p>
                    </div>
                    <div class="box" data-aos="zoom-in" data-aos-offset="100">
                        <i aria-hidden="true" class="fas fa-bus-alt"></i>
                        <p>Transportation & Logistics</p>
                    </div>
                </section>
            </div>
        </section>

    </div>
    <div class="page4">
        <section>
            <div class="left" data-aos="fade-right">
                <img src="/images/building.jpeg" alt="">
            </div>
            <div class="right">
                <h1>Operational Focus</h1>
                <p data-aos="fade-left" data-aos-offset="100">We have a deep network of operational resources which we
                    tap into to drive value creation</p>
                <h4 data-aos="fade-up" data-aos-offset="100">Operational improvement is deeply integrated in our
                    investment process:</h4>
                <h4 data-aos="fade-up" data-aos-offset="100">Work side-by-side with our management teams to drive value
                    in the portfolio</h4>
                <h4 data-aos="fade-up" data-aos-offset="100">Hands on approach driving organic and M&A growth
                    initiatives</h4>
                <h4 data-aos="fade-up" data-aos-offset="100">Leverage in-house resources and external network</h4>
                <h4 data-aos="fade-up" data-aos-offset="100">Surround our management teams with strong talent and
                    resources</h4>
            </div>
    </div>
    </section>
    <section>
        <div class="right">
            <div class="Investment-Criteria">
                <h1>ESG</h1>
                <p data-aos="fade-right" data-aos-offset="100">ESG is an important component of our values and our
                    strategy. As investors with a long-term view, we
                    seek to enhance value creation and risk management by constructing sustainable, well-managed, and
                    accountable organizations
                </p>
                <p data-aos="fade-right" data-aos-offset="100">Truelink’s guiding philosophy on ESG is to leave our
                    companies better than we found them and to be
                    great stewards of the shared communities in which we live</p>
                <button class="esg-btn">ESG STRATEGY</button>
            </div>
        </div>
        <div class="left" data-aos="fade-left">
            <img src="/images/snow.jpg" alt="">
        </div>
    </section>
    </div>
    <div class="page5">
        <img src="/images/green-grass.jpg" alt="">
        <button class="esg-btn learnmore">Learn More</button>
    </div>
    </div>
    <footer>
        <div class="footer-details">
            <img src="/logo/logo.png" alt=""><br>
            <p>Truelink Capital is a Los Angeles based private equity firm with a senior, experienced founding team and
                demonstrated ability to create long-term value</p>
        </div>
        <div class="footer-details">
            <h3>Quick Links</h3>
            <li><a href="">About</a></li>
            <li><a href="">Team</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">ESG</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contact</a></li>
        </div>
        <div class="footer-details">
            <h3>Contact</h3>
            <div class="contact">
                <i aria-hidden="true" class="far fa-envelope"></i><span>info@truelinkcap.com</span>
            </div>
            <div class="contact">
                <i aria-hidden="true" class="fas fa-map-marker-alt"></i> <span>10877 Wilshire Blvd <br>
                    Suite 660 <br>
                    Los Angeles, CA 90024</span>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>Copyright © 2022 Truelink Capital | <a href="">Terms of Use</a> | <a href="">Privacy Notice</a></p>
    </div>
    <script src="/js/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 400,
            duration: 1000,
            once: true,
        });
    </script>
    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function () {
            this.classList.toggle('active');
            document.querySelector('.menu').classList.toggle('active');
        });

    </script>
</body>

</html>