/* For Desktop View */
@media screen and (min-width: 1024px) {
    .gfg-div {
        background-color: #63c971;
        color: #fff;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .gfg-div {
        width: 200px;
        height: 200px;
        background-color: red;
        color: #fff;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .gfg-div {
        width: 400px;
        height: 200px;
        background-color: cyan;
        color: black;
    }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {

    .line{
        background-color: white;
    }
    .nav-details ul{
        color: white;
        flex-direction: column;
    }
    .logo {
        width: 100%;
    }

    .logo img {
        width: 40%;
    }

    .nav-details {
        display:none;
    }
    .humbuger{
        opacity: 1;
        z-index: 99;
        background-color: white;
    }
    .page1 video {
        width: 100%;
    }

    .page1 h1 {
        position: absolute;
        top: 37%;
        font-size: 21px;
    }

    .page2 {
        width: 100%;
    }

    section {
        flex-direction: column-reverse;

    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .right h1 {
        font-size: 35px;
    }

    .right p {
        font-size: 13px;
    }

    .Investment-Criteria h3 {
        font-size: 18px;
    }

    .page3 section {
        flex-direction: column;
    }

    .page3 h1 {
        font-size: 30px;
    }

    .page3 .tech-service {
        width: 100%;
    }


    .box {
        width: 100%;
        margin: 10px;
    }

    .right h4 {
        font-size: 15px;
        font-weight: 400;
    }

    footer {
        flex-direction: column;
    }

    .footer-details {
        width: 100%;
        padding: 20px;
    }

    .footer-details img {
        width: 185px;
    }

}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: brown;
        color: black;
    }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: cornflowerblue;
        color: black;
    }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: darkgoldenrod;
        color: black;
    }
}

;